/* Write your CSS here */
.selected-language-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8ff;
  border-radius: 12px;
  margin: 15px;
  padding: 20px;
  width: 200px;
}
.avatar {
  height: 55px;
  align-self: center;
}
.name-para {
  color: #e73959;
  font-family: 'Roboto';
  font-size: 20px;
  margin-bottom: 0px;
}
.selected-language-item-description {
  display: flex;
  flex-direction: row;
}
.icon {
  height: 15px;
  margin-right: 5px;
  margin-top: 15px;
}
.description-para {
  color: #1e293b;
  font-family: 'Roboto';
}
